body{
  background:white;
}

h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  box-shadow: 6px 8px 4px 2px blue;

}


.inputClass1{
  width: 30px;
  padding: 10px;
  margin-right: -40px;
  background: linear-gradient(to bottom left, #ccffff 14%, #000066 72%);
  box-shadow: -2px 2px black;
  margin-left: 50px;
  color: black;
}
.inputClass2{
  width: 30px;
  padding: 10px;
  margin-left: 40px;
  background: linear-gradient(to bottom left, #ccffff 14%, #000066 72%);
  box-shadow: 2px 3px black;
  color: black;
}
::placeholder{
  color: black;
  font-weight: bolder;

}
.second-Div{
  background: linear-gradient(to top right, #ff33cc 25%, #0000ff 75%);;
  width: 200px;
  height:150px ;
  border-radius: 5px;
  box-shadow: 7px 9px  rgb(19, 0, 0);
  margin: 15px;
}
.close-Alarm{
  display: none;
}

.submit{
  margin-left: 40px;
  margin-top: 60px;
  font-size: 20px;
  color: #ccffff;
  border: 2px black;
  background: linear-gradient(to top right, #000066 -1%, #000000 63%);
  background-origin: padding-box;
}
.click{
  display: none;
}
.unclick{
  display: block;
  font-size: 20px;
  background-color:coral;
  margin-left: 250px;
  margin-top: 10px;
  padding: 5px;
}
.major{
  display: block;
  background-color: blue;
  color: white;
  font-size: 20px;
  margin: 10px;
}