
.flex-container{
    display: flex;
    flex-direction: row;
    background-color:rgb(124, 124, 248);
    max-width: 100%;
}
.flex{
    background-color: rgb(42, 42, 112);
    margin: 5px;
    padding: 10px;
}
.flex.side{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.first{
    background-color: rgb(8, 130, 252);
    margin: 10px;
    padding: 10px;
    font-size: small;
}

.first a{
    text-decoration: none;
}
.flex.left{
    width: 80%;
    position: relative;
}
.image{
    opacity: 0.8;
    width: 100%;
    height: 100%;
}
.contents{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.avatar{
    position: relative;
    border-radius: 50%;
    height: 40%;
    width: 40%;
    margin-left: 25%;
}
.p1{
    position: absolute;
    font-size: 40px;
    text-align: center;
    margin-left: 20%;
    color:wheat;
}
.inside{
    color: orangered;
    
}
@media screen and (max-width: 800px){
    .p1{
        font-size: small;
    }
}
#flex-holder{
    display: flex;
    flex-direction: row;
    background-color:rgb(124, 124, 248);
}
.flip{
    background-color:rgb(42, 42, 112);
    margin: 6px;
    padding: 10px;
}
.flip.one{
    width: 40%;
    
}
.me{
    width: 100%;
    height: 20%;
}
.flip.left{
    margin: 0;
}
.second{
    font-size: small;
    

}
.flip.two{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 42, 112);
}
p{
    font-size: 150%;
    font-style: oblique;
    font-weight: lighter;
}
h3{
    font-size: 130%;
}
@media screen and (max-width: 800px){
    p{
        font-size: small;
        font-weight: bold;
    }
    .work{
        font-size: small;
    }
    .second{
        font-size: xx-small;
    }
    h3{
        font-size: small;
    }
}