body{
    background-color: #182f8A;
    display: grid;
}
th{
    border: 7px inset rgb(158, 7, 7);
    border-radius: 3px;
}
tr{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(218, 198, 162);
}
td{
    background-color: #70cbff;
}
tr,td{
    border: 3px ridge rgb(158, 7, 7);
}

.Amount{
    background-color: #aadcf8;
    
    border-radius: 5px;
    width: 30%;
}

.Check{
    color: white;
    padding: 1%;
    border-radius: 10px;
    background-color: rgb(158, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}
.Check:hover, :focus{
    background: linear-gradient(to top right, #f1f8fa 0%, #050304 96%);
}

.oneRow{
    border-radius: 10px;
    padding: 1%;
    background-color: #70cbff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5em;
}

.oneRow:hover, :focus{
    background: linear-gradient(to top right, #f1f8fa 0%, #050304 96%);
}

.Amount:placeholder{
    color: black;
}
.No:placeholder{
    color: black;
} 
h1, h2{
    font-size:3em;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff748;
    text-shadow: 5px 4px black;
}
h3{
    font-size:2em;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: px 4px black;
}

h4{
    font-size:1em;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;  
}

#appInfo{
    display: inline-flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0px;
    top: 0px;
    padding-top: 10%;
    margin-right: 50px;
    animation-name: pop;
    animation-duration: 3s;
    background-color: rgba(250, 120, 280, 0.9);
    display: block;
}
@keyframes pop{
    from{top:-300px; opacity:0};
    to{top:0px; opacity:1}
}
#pop-up{
    display: inline-flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0px;
    top: 0px;
    padding-top: 10%;
    margin-right: 50px;
    animation-name: pop;
    animation-duration: 3s;
    background-color: rgba(250, 120, 280, 0.9);
    display: none;
   
}
@keyframes pop{
    from{top:-300px; opacity:0};
    to{top:0px; opacity:1}
}
.close{
    color: white;
    font-size: 500%;
    font-weight: bolder;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}
.calculation {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto; 
    animation-name: pop;
    animation-duration: 3s;
    background-color: rgba(250, 120, 280, 0.9); 
     
}

.content {
    background-color: rgba(250, 120, 280, 0.9);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

