body{
    background-color: rgb(39, 38, 38);
}

.container{
    background-color: rgba(250, 120, 280, 0.5);
}

.hold{
    background-color: rgba(250, 120, 280, 0.5);
}
.save{
    box-shadow: 4px 3px rgb(39, 38, 38);
    background-color: rgb(229, 233, 0);
}
table{
    border: 4px inset rgba(229, 233, 0, 0.884) ;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    
}
th{
    color:  rgb(39, 38, 38);;
    background-color: rgb(229, 233, 0);
}
.time{
    width: 46%;
    background-color: rgb(205, 205, 253);
    padding: 5px;
    box-shadow: 5px 5px rgb(39, 38, 38);
}
td{
    background-color:  #777;
}
textarea{
    background-color: rgb(205, 205, 253);
    box-shadow: 5px 5px rgb(39, 38, 38);
}
.check{
    font-size: xx-large;

}
h1{
    text-align: center;
    color: white;
}