*{
    box-sizing: border-box;
}
.container{
    background-color: rgba(245, 235, 235, 0.205);
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
i{
    color: rgba(39, 14, 150, 0.932);
}
.container > div{
    
    
    width: 100%;
    text-align: center;
   
    
}
.app{
    background-color: rgba(39, 14, 150, 0.932);
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}
@media screen and (max-width: 300px){
    .app{
        padding-left: 30px;
        padding-right: 30px;
    }
    li a{padding: 0;}
}
.item{
    justify-content: right;
    float: right;
}
.item:hover{
    background-color: brown;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background-color: rgba(247, 247, 247, 0.377);
}
li{
    float: left;
    cursor: pointer;
}
li a{
    padding: 5px 10px;
    display: block;
    text-decoration: none;
}
li:hover{
    background: linear-gradient(to top left, #eeecec 19%, #b1aeae 60%);
}

.area{
    background-color: rgba(177, 174, 174, 0.993);
    width: 100%;
    height: 100%;
    margin: 0;
}
#text{ 
    margin: 5%;
    box-shadow: 4px -2px rgba(0, 0, 0, 0.4);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out ;
}
.group2{
    margin: 0;
    padding: 0;
}
.group2 >li{
    border-radius: 3px 2px;
}
.group2 > li > a :focus{
    background: linear-gradient(to top left, #eeecec 19%, #b1aeae 60%);
}
.file{
    background-color: rgb(139, 0, 0);
}
.group3{
    background-color: rgba(246, 248, 250, 0.979);
}
.group3 > li > a > i{
    font-size: 25px;
}